<!DOCTYPE html>
<html>
<head>
<title>
<h2> Welcome to Real Estate World </h2>
</title>
</head>
<body>

   <h3> Your generated id  = <%=@id%> </h3>
      Shop Name =  <%= @name%>
      Password =  <%= @password%>
	   Email = <%= @email%>
	    <h2> Please validate your account by clicking below link </h2>
	   link = <%= @link%>
	   </body>
	   </html>